
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body, html {
	margin-left: 0;
	margin-right: 0;
	height: 100%;
}

a {
	text-decoration: none;
	color: darkgreen;
}

a:hover {
	text-decoration: underline;
	color: purple;
}

/* #navMenu {} ??? */

.navbar {
	/* background-color: rgb(100, 180, 255); */
	/* border: 1px solid black; */

	position: fixed;
	right: 15px;
	top: 35%;
	height: 150px;
	width: 100px;
	opacity: 0.96;
	z-index: 100;

	margin: 0;
	padding: 0;
	font-size: 0.01px;
}

p img {
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
}

.navbar a {
	display: inline-block;
	width: 20px;
	height: 20px;
	border: 1px solid #888;
	margin-top: 5%;
	margin-left: 30%;
	/* background-color: rgb(100, 180, 255); */
	background-color: white;
	box-shadow: 2px 2px 2px #888;
}

.navbar a:hover {
	background-color: rgb(100, 180, 140);
}

.navbar li {
	list-style-type: none;
	padding: 0;
	font-size: 0.01px;
}

.navbar li.active a {
	background-color: rgb(100, 180, 140);
}

section {
	min-height: 800px;
	min-height: 100vh;
	height: auto;
	border: 1px solid black;
	padding-top: 5%;
	background-size: cover;
	background-position: center center;
}

section h2 {
	margin-left: 2%;
	margin-right: 5%;
}

section p {
	margin-left: 2%;
	margin-right: 4%;
}


/* every other section gets this different shade, for distinct separation */

section:nth-child(even) {
	background-color: #ddd;
}

img {
	max-width: 100%;
}