body, html {
	height: 100%;
}

#navMenu {}

.navbar {
	background-color: aqua;
	border: 1px solid black;

	position: fixed;
	right: 15px;
	top: 30%;
	height: 150px;
	opacity: 0.8;
	z-index: 100;

}

section {
	min-height: 800px;
	min-height: 100vh;
	border: 1px solid black;
	padding-top: 5%;
	background-size: cover;
	background-position: center center;
}

section:nth-child(even) {
	background-color: #ddd;
}